{% extends "base.html" %}
{% from "_render_field.html" import render_field %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <h2>Контакти</h2>
        
        <form method="POST" action="" novalidate>
            {{ form.csrf_token }} {{ render_field(form.name) }}
            {{ render_field(form.email) }}
            {{ render_field(form.phone) }}
            {{ render_field(form.subject) }}
            {{ render_field(form.message, rows=5) }}
            
            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
</div>
{% endblock %}