<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('pages.index') }}">My Portfolio</a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="{{ url_for('pages.index') }}">Головна</a></li>
        
        <li class="nav-item"><a class="nav-link" href="{{ url_for('pages.resume') }}">Резюме</a></li>
        
        <li class="nav-item"><a class="nav-link" href="{{ url_for('pages.contacts') }}">Контакти</a></li>
        
        {% if 'username' in session %}
            <li class="nav-item"><a class="nav-link active" href="{{ url_for('users.profile') }}">Профіль</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('users.logout') }}">Вийти</a></li>
        {% else %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('users.login') }}">Вхід</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>